.saved-movies-list {
    padding: 70px 70px;
  }
  
  .saved-movies-list__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    gap: 41px 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .saved-movies-list__not-found {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .saved-movies-list {
      padding: 70px 30px 105px;
    }
  
    .saved-movies-list__container {
      grid-template-columns: repeat(auto-fit, 339px);
      grid-template-rows: 237px;
      grid-auto-rows: 237px;
    }
  
    .saved-movies-list__load-more-button {
      margin: 56px auto 10px;
    }
  }
  
  @media (max-width: 425px) {
    .saved-movies-list {
      padding: 40px 10px 103px;
    }
  
    .saved-movies-list__container {
      grid-template-columns: repeat(auto-fit, 300px);
      grid-template-rows: 197px;
      grid-auto-rows: 197px;
    }
  
    .saved-movies-list__load-more-button {
      margin: 65px auto 10px;
      padding: 11px 107px 9px;
    }
  }
  